
@{
	ViewBag.Title = "Antecedentes";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/css/EstilosModal.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />

<h2 class="text-center">Antecedentes</h2>


<div class="row pt-2 pb-4">
	<div class="pl-5 pr-5 col-md-5 text-center">
		<div class="alert alert-danger" hidden id="mensajeError">Error</div>
	</div>
	<div class=" pl-5 pr-5 col-md-5 text-center">@Html.Partial("~/Views/Shared/_Flash.cshtml")</div> <br />
	<div class="container  pt-0">
		<ul class="nav nav-tabs bar_tabs" role="tablist">
			<li class="nav-item">
				<a href="/Paciente">Lista Pacientes</a>
			</li>
			<li class="nav-item">
				<a>Filiación</a>
			</li>
			<li class="nav-item"><a>Consulta</a></li>
			<li class="nav-item"><a>Antecedentes</a></li>
			<li class="nav-item"><a>Signos Vitales</a></li>
			<li class="nav-item" style="background-color:#2A3F54; color:white">
				<a class="nav-item" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="antecedentes" aria-selected="true">Exámenes Físicos</a>
			</li>
		</ul>

	</div>

	@*Tabla Motivos ----------------------------------------------------------------------------------------------------------*@

	<div class="col-md-12 pl-5 pr-5 pt-3 " style="text-align:left">


		@using (Html.BeginForm("CrearHistoriaAntecedentes", "Antecedentes", FormMethod.Post))
		{
			<input type="text" hidden name="codHist" id="codHist" value="@ViewBag.codHist" />
			<input type="text" hidden name="numEmp" value="@ViewBag.numEmp" />
			<div class="row pb-3 pt-3">
				<div class="clearfix"></div>
				<div class="col-md-5">
					@Html.DropDownList("TPFCODIGOI", null, htmlAttributes: new { @class = "form-control form-control-sm", @id = "TPFCODIGOI" })
				</div>
			</div>

			<div class="row pt-3 pb-3">
				<div class="col-md-12">
					<textarea class="form-control" id="textAreaComentario" maxlength="350" placeholder="Ingese un comentario..." rows="6"></textarea>
				</div>
			</div>
			<div class="row pt-5 mt-5">
				<div class="col-md-12" style="text-align:right">
					<a class="btn btn-success text-white" href="/SignosVitales/SignosVitales?numEmp=@ViewBag.numEmp&codHist=@ViewBag.codHist">
						Siguiente <i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
		}
	</div>


</div>




@*Scripts----------------------------------------------------------------------------------------------------------*@

@section Scripts {
	<script src="~/Scripts/jquery.dataTables.js"></script>
	<script src="~/Scripts/Scripts/ScriptExamenFisico.js"></script>
}


